{
  "tabWidth": 4,
  "useTabs": false,
  "singleQuote": false,
  "printWidth": 80,
  "trailingComma": "all",
  "bracketSpacing": true,
  "semi": true,
  "arrowParens": "always",
  "quoteProps": "preserve",
  "proseWrap": "preserve"
}
